* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.bloc-haut {
  background: #f6f6f6;
  width: 100%;
  height: auto;
}
.bloc-haut .partie-btn {
  padding: 20px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bloc-haut .partie-btn button {
  margin-top: 40px;
  margin-bottom: 40px;
}
.bloc-haut .partie-btn .description {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-color {
  cursor: pointer;
  color: white;
  width: 186px;
  height: 50px;
  border: none;
  box-shadow: 2px 2px 12px rgb(169, 169, 169);
  border-radius: 20px;
  padding: 10px;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

.btn-color:hover {
  box-shadow: 2px 2px 12px rgb(105, 104, 104);
  opacity: 0.8;
  transform: scale(1.05);
}

.btn-commande {
  margin-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.restaurants {
  background: #F6F6F6;
  width: 100%;
}
.restaurants h2 {
  padding: 20px;
}
.restaurants .card-resto {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.restaurants a {
  text-decoration: none;
  color: black;
}

.resto {
  min-width: 280px;
  background-color: white;
  position: relative;
  border-radius: 25px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.23);
}
.resto img {
  width: 100%;
  height: 191px;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}
.resto .nouveau {
  display: flex;
  justify-content: center;
  width: 80px;
  position: absolute;
  border: 2px solid #008766;
  color: #008766;
  background: #99E2D0;
  padding: 5px;
  right: 15px;
  top: 15px;
}
.resto .card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resto .card-content .txt-card {
  padding: 10px;
}
.resto .card-content i {
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}

.resto:hover {
  transform: scale(1.02);
}

.titre-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.titre-menu i {
  font-size: 25px;
  padding: 5px;
}
.titre-menu i:hover {
  cursor: pointer;
  color: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

.position {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
  padding: 15px;
}
.position input {
  width: 110px;
  background: transparent;
  border: none;
  margin-left: 5px;
}

.icons-coeur {
  background: transparent;
  border: none;
}

.icon-vide {
  position: relative;
  left: 43px;
  background: white;
}

.icon-plein {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-vide:hover {
  background: transparent;
  color: transparent;
  font-size: 25px;
  transition: 0.5s;
}

.icon-vide-menu {
  position: relative;
  left: 38px;
  background: #F6F6F6;
}

.icon-plein-menu {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-vide-menu:hover {
  background: transparent;
  color: transparent;
  font-size: 25px;
  transition: 0.5s;
}

.fonctionnement h2 {
  padding: 20px;
}
.fonctionnement ol {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fonctionnement ol li {
  background: #F6F6F6;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.243);
  width: 322.49px;
  height: 72.38px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 15px;
}
.fonctionnement ol li h5 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #9356DC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 20px;
}
.fonctionnement ol li a {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.fonctionnement ol li a .content-fonctionnement {
  margin-right: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.fonctionnement ol li a .content-fonctionnement p {
  color: black;
  font-weight: bolder;
}
.fonctionnement ol li a .content-fonctionnement i {
  color: #7E7E7E;
  font-size: 20px;
}
.fonctionnement ol li a:hover {
  background: rgba(146, 86, 220, 0.0392156863);
}
.fonctionnement ol li a:hover i {
  color: #9356DC;
}

.back-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.397);
  z-index: 1;
}

.loader {
  position: relative;
  top: 30%;
  margin: 35%;
  margin-top: 0;
  border: 15px solid rgba(255, 255, 255, 0);
  border-top: 15px solid rgb(183, 0, 255);
  border-bottom: 15px solid rgb(128, 0, 255);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.loader i {
  font-size: 35px;
}

header {
  position: sticky;
  top: 0;
  height: auto;
  width: 100%;
  background: rgb(255, 255, 255);
  z-index: 1;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.455);
}
header a {
  display: flex;
  justify-content: center;
  align-items: center;
}
header a i {
  position: absolute;
  left: 15px;
  color: black;
  font-size: 1.5em;
}
header a i:hover {
  transform: scale(1.05);
}
header #logoHeader {
  width: 162px;
  height: 44px;
}

.photo-top img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.menus {
  font-family: "Roboto" sans-serif;
  padding-top: 15px;
  width: 100%;
  height: 100%;
  border-radius: 25px 25px 0 0;
  background: #f6f6f6;
  position: relative;
  margin-top: -30px;
}
.menus h1 {
  font-family: "Shrikhand", sans-serif;
}
.menus h4 {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}

.vignette {
  width: 100%;
  height: 80px;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.19);
  margin: 5px;
  overflow: hidden;
}

.card {
  cursor: pointer;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.card .txt-menu {
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card .prix {
  width: 30px;
}

.card::after {
  content: "";
  width: 0px;
  height: 80px;
  background: #99E2D0;
}

.icon {
  position: absolute;
  left: 87%;
  color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}
.icon i {
  margin-top: 5px;
  font-size: 20px;
}

.card:hover::after {
  transition: 0.5s;
  width: 80px;
  color: black;
}

.card:hover .icon {
  transition: 0.5s;
  color: #99E2D0;
  background: white;
}

.entree .vignette {
  animation: slidein 1s ease-in;
}

.plat .vignette {
  animation: slidein 1.5s ease-in;
}

.dessert .vignette {
  animation: slidein 2s ease-in;
}

@keyframes slidein {
  0% {
    transform: skewX(0deg) translateY(500px);
  }
  60% {
    transform: translateY(0px);
  }
  100% {
    transform: skew(0deg);
  }
}
.entree,
.plat,
.dessert {
  margin: 0;
  padding: 10px;
  width: 93%;
  overflow: hidden;
}

footer {
  background: #353535;
  width: 100%;
  height: auto;
}
footer .liens-footer {
  list-style-type: none;
  text-align: left;
  padding: 10px;
}
footer .liens-footer li {
  margin: 10px;
}
footer .liens-footer a {
  text-decoration: none;
  color: white;
}
footer .liens-footer i {
  margin-right: 8px;
  color: white;
}
footer .logo-footer {
  filter: invert(100%);
}
footer .logo-footer img {
  width: 137px;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .menus {
    padding: 15px;
    width: 60%;
    margin: 15px auto;
    top: -70px;
    align-self: center;
  }
}
@media screen and (min-width: 1200px) {
  .fonctionnement {
    width: 55%;
    margin: 20px auto;
  }
  .fonctionnement ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .fonctionnement ol .numero {
    left: 10px;
    top: 10px;
    z-index: 1;
  }
  .restaurants {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-resto {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    width: 55%;
    height: auto;
  }
  .card-resto .resto {
    width: 45%;
    margin-left: 10px;
  }
  .menus {
    width: 50%;
    padding: 40px;
    top: -100px;
  }
  .icon {
    position: absolute;
    left: 85%;
    color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
  }
  .icon i {
    margin-top: 5px;
    font-size: 20px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 20px;
  }
  footer .liens-footer {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
