* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.bloc-haut {
  background: #f6f6f6;
  width: 100%;
  height: 400px;
}
.bloc-haut aside {
  padding: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-color {
  cursor: pointer;
  color: white;
  width: 186px;
  height: 50px;
  border: none;
  box-shadow: 2px 2px 12px rgb(169, 169, 169);
  border-radius: 20px;
  padding: 10px;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

.btn-color:hover {
  box-shadow: 2px 2px 12px rgb(105, 104, 104);
  opacity: 0.8;
  transform: scale(1.05);
}

.btn-commande {
  margin-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.restaurants {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.restaurants a {
  text-decoration: none;
  color: black;
}

.resto {
  border-radius: 25px;
  width: 335px;
  height: 251px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.23);
}
.resto img {
  width: 100%;
  height: 191px;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}
.resto .card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resto .card-content aside {
  margin-left: 20px;
}
.resto .card-content i {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}

.titre-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.titre-menu i {
  font-size: 25px;
  padding: 5px;
}
.titre-menu i:hover {
  cursor: pointer;
  color: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

.position {
  display: flex;
  justify-content: center;
  background: #EAEAEA;
  padding: 15px;
}

.icons-coeur {
  background: transparent;
  border: none;
}

.icon-vide {
  position: relative;
  left: 43px;
  background: white;
}

.icon-plein {
  color: rgba(207, 0, 207, 0.738);
}

.icon-vide:hover {
  background: transparent;
  color: transparent;
  font-size: 25px;
  transition: 0.5s;
}

.icon-vide-menu {
  position: relative;
  left: 38px;
  background: #F6F6F6;
}

.icon-plein-menu {
  color: rgba(207, 0, 207, 0.738);
}

.icon-vide-menu:hover {
  background: transparent;
  color: transparent;
  font-size: 25px;
  transition: 0.5s;
}

header {
  position: sticky;
  top: 0;
  height: auto;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
header i {
  margin-left: 10px;
  font-size: 1.5em;
}
header img {
  padding: 15px;
  width: 162px;
  height: 44px;
}

.photo-top img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

@keyframes slidein {
  0% {
    transform: skewX(0deg) translateY(500px);
  }
  60% {
    transform: translateY(0px);
  }
  100% {
    transform: skew(0deg);
  }
}
.entree,
.plat,
.dessert {
  margin: 0;
  padding: 10px;
  width: 93%;
  overflow: hidden;
}

.entree .vignette {
  animation: slidein 1s ease-in;
}

.plat .vignette {
  animation: slidein 1.5s ease-in;
}

.dessert .vignette {
  animation: slidein 2s ease-in;
}

.menus {
  font-family: "Roboto" sans-serif;
  padding-top: 15px;
  width: 100%;
  height: 100%;
  border-radius: 25px 25px 0 0;
  background: #f6f6f6;
  position: relative;
  margin-top: -30px;
}
.menus h4 {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}

.vignette {
  width: 98%;
  height: 80px;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.19);
  margin: 5px;
  overflow: hidden;
}

.card {
  cursor: pointer;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card aside {
  width: 90%;
}
.card .prix {
  width: 10%;
}

.card::after {
  content: "";
  width: 0px;
  height: 80px;
  background: #99E2D0;
}

.icon {
  position: absolute;
  left: 85%;
  color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
}
.icon i {
  margin-top: 5px;
  font-size: 20px;
}

.card:hover::after {
  transition: 0.5s;
  width: 60px;
  color: black;
}

.card:hover .icon {
  transition: 0.5s;
  color: #99E2D0;
  background: white;
}

footer {
  background: #353535;
  width: 100%;
  height: auto;
}
footer .liens-footer a {
  text-decoration: none;
  color: white;
}
footer .liens-footer i {
  color: white;
}

/*# sourceMappingURL=style.css.map */
