body, html{
    max-width: 375px;
    height: auto;
}

header{
    position: sticky;
    top:0;
    height: 63px;
    width: 95%s;
    background:rgba(255, 253, 253, 0.952);
    box-shadow: 3px 3px 15px rgba(255, 253, 253, 0.952);
    margin:0;
}
header img{
    position: sticky;
    height: 44px;
    width: 162px;
    margin-left:105px;
    margin-top:14px;

}
.bloc-1{
    text-align: center;
    height:50px;
    width: 100%;
    background-color:#D2D2D2  ;
}
.bloc-2{
    height: auto; 
    width: 100%;
    background-color: #EAEAEA;
}
.bloc-2 p, H2{ 
    text-align: center;
}
.bloc-2 button{
    color: white;
    border-radius:25px 25px 25px 25px;
    height: 50px;
    width: 218px;
    background:linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    border: none;
    margin-left:70px;
    margin-right: 70px;
}
.vignettes h4{
    margin-top:28px;
}
.vignettes{
    height: 72.38px;
    width: 322.49px;
    background-color:#F6F6F6;
    border-radius: 25px 25px 25px 25px;
}
.bloc-photos{
    box-shadow:2px 2px 2px 2px #D2D2D2;
    margin:10px;
    border-radius: 25px 25px 25px 25px;
    height:251px;
    width: 340px;
}
.bloc-photos img{
    border-radius: 25px 25px 0 0px;
    height:190px;
    width: 340px;
}
.bloc-photos h3, p{
    margin:0;
}
footer{
    background-color: #353535;
    width:100%;
    height: auto;
}
.logo-footer img{
    height: auto;
    width: 90px;
    filter: invert(100%);
    margin: 15px;
}
.liens-footer a{
    color: white;
    display:flex;
    text-decoration: none;
}