body,
html {
    max-width: 375px;
    height: auto;
}

header {
    position: sticky;
    top: 0;
    height: auto;
    width: 100%s;
    background: rgba(255, 253, 253, 0.952);
}

.bloc-haut {
    text-align: center;
}

.liste-top i {
    color: #7E7E7E;
}

.liste-top a {
    color: black;
    text-decoration: none;
}

ol {
    list-style-type: none;
    counter-reset: compteListe;
}

.liste-top li::before {
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    border-radius: 25px 25px 25px 25px;
    background: #9356DC;
    color: white;
}

.card {
    border: 2px solid black;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

footer {
    height: 100%;
    width: 100%;
    background: #353535;
}

.liens-footer a {
    color: white;
}

.photo-top img {
    width: 375px;
    height: 275px;
}