body, html{
    max-width: 375px;
    height: auto;
}

header{
    position: sticky;
    top:0;
    height: 63px;
    width: 95%s;
    background:rgba(255, 253, 253, 0.952);
    box-shadow: 3px 3px 15px rgba(255, 253, 253, 0.952);
    margin:0;
}
.bloc-haut{
    text-align: center;
}