.photo-top img{
  width: 100%;
  height: 275px; 
  object-fit: cover;

}
.menus {
  font-family:"Roboto" sans-serif;
  padding: 10px;
  width:95%;
  height: auto;
  border-radius: 25px 25px 0 0;
  background:#f6f6f6;
  position: relative;
  margin-top: -40px;
  
  h4{
    margin-top:40px;
    margin-bottom: 20px;
    width: 40px;
    border-bottom: 3px solid $PrimaryColor;
  }
}
.vignette{
  width: 100%;
  height: 80px;
  border-radius:20px;
  box-shadow:2px 2px 12px rgba(0, 0, 0, 0.19);
  margin:5px;
  overflow: hidden;
}
.card{
  cursor: pointer;
  text-decoration: none;
  color:black;
  display:flex;
  align-items: center;
  justify-content: space-between;
  aside{
    width:90%;
  }
  .prix{
    width: 10%;
  }
}
.card::after{
  content: "";
  width: 0px;
  height: 80px;
  background: $PrimaryColor;
}
.icon{
  position:absolute;
  left:90%;
  color:transparent;
  border-radius:50%;
  width: 30px;
  height: 30px;
  text-align:center;
  i{
    margin-top:5px;
    font-size: 20px;
  }
}
.card:hover::after{
  transition:0.5s ;
  width: 60px;
  color:black;

}
.card:hover .icon{
  transition:0.5s;
  color:$PrimaryColor;
  background:white;
}
