header {
    position: sticky;
    top: 0;
    height: auto;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        margin-left:10px;
        font-size:1.5em;
        
    }
    img{
        padding:15px;
        width: 162px;
        height: 44px;
    }
}
