header {
    position: sticky;
    top: 0;
    height: auto;
    width: 100%;
    background: rgb(255, 255, 255);
    z-index:1;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.455);
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            position: absolute;
            left:15px;
            color: black;
            font-size:1.5em;
        }
        i:hover{
            transform: scale(1.05);
        }
    }
    #logoHeader{
        padding:5px;
        width: 162px;
        height: 44px;     
    }
}
