@media screen and (min-width: 768px) {
   .menus{
      padding: 15px;
      width:60%;
      margin:15px auto;
      top: -70px;
      align-self: center;
   }

   // 
   // 
   // partie fonctionnement
   // 
   // 

   .fonctionnement{
      width:100%;
      margin:20px auto;
      ol{
           width: 100%;
          display: flex;
          justify-content: space-around;
           
        li{
           height: auto;
           margin-right:20px;
           width: 270px;
           height: 72.38px;
          .content-fonctionnement{
           font-size:0.8em;
           padding:15px;
           margin-right: 25px;
          }
        }
      }
   }
}

@media screen and (min-width: 1200px) {
 .fonctionnement{
    width:80%;
    margin:20px auto;
    ol{
         width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
         
      li{
         height: auto;
         margin-right:20px;
         width: 322.49px;
         height: 72.38px;
        .content-fonctionnement{
         font-size:0.8em;
         padding:15px;
         margin-right: 25px;
        }
      }
    }
 }
 .restaurants{
    width: 100%;
    height: auto;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
 }
 .card-resto{
    display:flex; 
    align-self: center; 
    flex-wrap:wrap;
    width: 55%;
    height: auto;

    .resto{
      width: 45%;
      margin-left:10px;
    }
 }  
 .menus{
    width:50%;
    padding:40px;
    top:-100px;
 } 
 .icon{
    position:absolute;
    left:85%;
    color:transparent;
    border-radius:50%;
    width: 30px;
    height: 30px;
    text-align:center;
    i{
      margin-top:5px;
      font-size: 20px;
    }
  }
  footer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 20px;
    .liens-footer{
        display:flex;

    }
  }
}