@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1200px) {
 .fonctionnement{
    width:55%;
    margin:20px auto;
    ol{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .numero{
            left:10px;
            top:10px;
            z-index:1;
        }  
    }
 }
 .restaurants{
    width: 100%;
    height: auto;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
 }
 .card-resto{
    display:flex; 
    align-self: center; 
    flex-wrap:wrap;
    width: 55%;
    height: auto;

    .resto{
      width: 45%;
      margin-left:10px;
    }
 }  
 .menus{
    width:50%;
    padding:100px;
    left:18%;
    top:-50px;
 } 
 .icon{
    position:absolute;
    left:81%;
    color:transparent;
    border-radius:50%;
    width: 30px;
    height: 30px;
    text-align:center;
    i{
      margin-top:5px;
      font-size: 20px;
    }
  }
  footer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 20px;
    .liens-footer{
        display:flex;

    }
  }
}