
// tablette


@media screen and (min-width: 768px) {
   .menus{
      padding: 15px;
      width:60%;
      margin:15px auto;
      top: -70px;
      align-self: center;
   }

   // 
   // 
   // partie fonctionnement
   // 
   // 

   .fonctionnement{
      width:100%;
      margin:20px auto;
      ol{
           width: 100%;
          display: flex;
          justify-content: space-around;
           
        li{
           height: auto;
           margin-right:20px;
           width: 270px;
           height: 72.38px;
          .content-fonctionnement{
           font-size:0.8em;
           padding:15px;
           margin-right: 25px;
          }
        }
      }
   }
   footer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 20px;
    .liens-footer{
        display:flex;
        margin-right:40px;
        font-size:16px;

    }
  }
}
// animation menu

.card:hover{
  .icon{
    transition:1.5s;
    visibility: visible;
    width: 12%;
    height: 100%;
    color:white;
    background:$PrimaryColor;
  }
  .prix{
    transition:1.5s;
    width: 28%;
  }
}

// desktop 


@media screen and (min-width: 1200px) {
 .fonctionnement{
    width:80%;
    margin:20px auto;
    ol{
         width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
         
      li{
         height: auto;
         margin-right:20px;
         width: 322.49px;
         height: 72.38px;
        .content-fonctionnement{
         font-size:0.8em;
         padding:15px;
         margin-right: 25px;
        }
      }
      li:hover{
         transform: scale(1.15);
      }
    }
 }
 .restaurants{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: column;
   justify-content: center;
   
 }
 .card-resto{
   display:flex;
   flex-wrap: wrap;
   align-self:center;
   width: 80%;
    .resto{
      margin-right: 60px;
      margin-bottom: 40px;
      width: 466px;
    }
 }  
 .menus{
    width:50%;
    padding:40px;
    top:-100px;
 } 

   .card:hover{
      .icon{
        transition:1.5s;
        visibility: visible;
        width: 7%;
        height: 100%;
        color:white;
        background:$PrimaryColor;
      }
      .prix{
        transition:1.5s;
        width: 33%;
      }
}
  footer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 20px;
    .liens-footer{
        display:flex;
        margin-right:80px;
        font-size:16px;

    }
  }
}