*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Roboto', sans-serif ;
    
}
.bloc-haut{
    background:#f6f6f6;
    width:100%;
    height:400px;
    aside{
        padding:10px;
    display:flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
.btn-color{
    cursor:pointer;
    color: white;
    width:186px;
    height:50px;
    border: none;
    box-shadow: 2px 2px 12px rgb(169, 169, 169);
    border-radius: 20px;
    padding: 10px;
    background:$colorpink;
}
.btn-color:hover{
    box-shadow: 2px 2px 12px rgb(105, 104, 104);
    opacity: 0.80;
    transform: scale(1.05);
}
.btn-commande{
    margin-top:50px;
    padding-bottom:50px;
    width:100%;
    display:flex;
    justify-content: center;

}

.restaurants{
    width:95%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a{
        text-decoration: none;
        color: black;
    }
}
.resto{
    border-radius: 25px;
    width: 335px;
    height: 251px;
    margin-bottom: 20px;
    box-shadow:2px 2px 12px rgba(0, 0, 0, 0.23);
    img{
    width: 100%;
    height: 191px;
    border-radius:25px 25px 0 0;
    object-fit: cover;
    
}

.card-content{
    display:flex;
    align-items: center;
    justify-content: space-between;
    aside{
        margin-left:20px;
    }
    i{
        cursor:pointer;
        padding: 10px;
        font-size:20px;
        
    } 
}
}
.titre-menu{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:20px;
   i{
    font-size: 25px;
    padding:5px;   
}
    i:hover{
    cursor: pointer;  
    color:$colorpink;
}
}
.position{
    display: flex;
    justify-content: center;
    background:#EAEAEA;
    padding:15px;
}
.icons-coeur{
    background:transparent;
    border: none;
}
.icon-vide{
    position: relative;
    left: 43px;
    background: white;
}
.icon-plein{
    color:rgba(207, 0, 207, 0.738);
}
.icon-vide:hover{
    background:transparent;
    color:transparent; 
    font-size: 25px;  
    transition:.5s;
}

// coeurs partie menu

.icon-vide-menu{
    position: relative;
    left:38px;
    background:#F6F6F6;
}
.icon-plein-menu{
    color:rgba(207, 0, 207, 0.738);
}
.icon-vide-menu:hover{
    background:transparent;
    color:transparent; 
    font-size: 25px;  
    transition:.5s;
}
