*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 320px;  
}
.bloc-haut{
    background:#f6f6f6;
    width:100%;
    height:auto;
    .partie-btn{
        padding: 20px;
        margin:50px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button{
            margin-top:40px;
            margin-bottom: 40px;
        }
        .description{
            display:flex;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
.btn-color{
    cursor:pointer;
    color: white;
    width:186px;
    height:50px;
    border: none;
    box-shadow: 2px 2px 12px rgb(169, 169, 169);
    border-radius: 20px;
    padding: 10px;
    background:$colorpink;
}
.btn-color:hover{
    box-shadow: 2px 2px 12px rgb(105, 104, 104);
    opacity: 0.80;
    transform: scale(1.05);
}
.btn-commande{
    margin-top:50px;
    padding-bottom:50px;
    width:100%;
    display:flex;
    justify-content: center;

}
.restaurants{
    background:#F6F6F6;
    width:100%;
    h2{
        padding: 20px;
    }  
    .card-resto{
        padding:20px;
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
    }
    a{
        text-decoration: none;
        color: black;
    }
}
.resto{
    min-width: 280px;
    background-color: white;
    position: relative;
    border-radius: 25px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    box-shadow:2px 2px 12px rgba(0, 0, 0, 0.23);
    img{
    width: 100%;
    height: 191px;
    border-radius:25px 25px 0 0;
    object-fit: cover;
    }
    .nouveau{
        display:flex;
        justify-content: center;
        width:80px;
        position: absolute;
        border:2px solid #008766;
        color:#008766;
        background: #99E2D0;
        padding:5px;
        right: 15px;
        top:15px;
    }
    .card-content{
        display:flex;
        align-items: center;
        justify-content: space-between;
        .txt-card{
            padding: 10px;
        }
        i{
            border-radius: 50%;
            cursor:pointer;
            padding: 10px;
            font-size:20px;   
        } 
    }
}
.resto:hover{
    transform:scale(1.02);
}
.titre-menu{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:20px;
   i{
    font-size: 25px;
    padding:5px;   
    }
    i:hover{
    cursor: pointer;  
    color:$colorpink;
    }
}
.position{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#EAEAEA;
    padding:15px;
    input{
        width:110px;
        background:transparent;
        border:none;
        margin-left:5px;
    }
}

// 
// 
// coeurs partie index
// 
// 

.icons-coeur{
    background:transparent;
    border: none;
}
.icon-vide{
    position: relative;
    left: 43px;
    background: white;
}
.icon-plein{
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-vide:hover{
    background:transparent;
    color:transparent; 
    font-size: 25px;  
    transition:.5s;
}

// 
// 
// coeurs partie menu
// 
// 

.icon-vide-menu{
    position: relative;
    left:38px;
    background:#F6F6F6;
}
.icon-plein-menu{
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon-vide-menu:hover{
    background:transparent;
    color:transparent; 
    font-size: 25px;  
    transition:.5s;
}

// 
// 
// fonctionnement
// 
// 


.fonctionnement{
    h2{
        padding: 20px;
    }
    ol{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li{
            background: #F6F6F6;
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.243);
            width: 322.49px;
            height: 72.38px;
            border-radius: 25px;
            display: flex;
            justify-content: space-between;
            margin-top:10px;
            margin-bottom:15px;
            h5{
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: #9356DC;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                right:20px;
            }
            a{
                border-radius: 25px;
                width: 100%;
                height: 100%;
                text-decoration: none;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .content-fonctionnement{
                    margin-right:35px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 70%;
                    p{
                        color: black;
                        font-weight: bolder;
                    }
                    i{
                        color: #7E7E7E;
                        font-size:20px;
                    }
                }

            }
            a:hover{
                background :#9256dc0a;
            }
            a:hover i{
                color: #9356DC;
            }

        }

    }
}



// 
// 
// partie loader 
// 
// 


.back-loader{
    position: absolute;
    width: 100%;
    height:100%;
    background:rgba(255, 255, 255, 0.397);
    z-index:1;
  }
  .loader{
    position: relative;
    top:30%;
    margin:35%;
    margin-top: 0;
    border: 15px solid rgba(255, 255, 255, 0);
    border-top: 15px solid rgb(183, 0, 255);
    // border-right: 15px solid purple;
    border-bottom:15px solid rgb(128, 0, 255);
    // border-left: 15px solid rgb(237, 140, 238);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:white;
    // -webkit-animation:spin 2s linear infinite;
  
    i{
      font-size: 35px;
    }
    // @-webkit-keyframes spin {
    //   0% { -webkit-transform: rotate(0deg); }
    //   100% { -webkit-transform: rotate(360deg);}
             
    // }
    
    // @keyframes spin {
    //   0% { transform: rotate(0deg); }
    //   100% { transform: rotate(360deg); }
    // }
  }
  
  
  